*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cont{
    padding:30px;
    color: rgb(196, 190, 190);
    font-size: small;
    display: flex;
    justify-content: center;
    background-color: #313338;
    border-radius: 10PX;
    max-width: 50em;
    min-height: 70vh;
}
input{
    background-color: rgb(42, 42, 42);
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292929;
    background-clip: padding-box;
    /* border: 1px solid #ced4da; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-c
}
.contain{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./discordimages/odin.jpeg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;
}
.discord{
    position: absolute;
    top: 3vh;
    left: 2vh;
}
.contain .imd{
    position:relative;
    top: 2vh;
    left: 1em;
}
.contain .imee{
    font-weight: bolder;
    font-size: larger;
    position: relative;
    top: 3vh;
    left: 1em;
}
.cent{
    padding-bottom: 40px;

    display: flex;
    flex-direction: column; 
    justify-content:center ;   
    align-items: center;

    
}
.discord3{
    display: none;
    font-weight: bolder;
    font-size: larger;
    margin: 10px;
    
}
.icons1{
    margin-top: 4px;
    width: 30px;
    height: 30px;
    display: none;
}

@media only screen and (max-width: 490px){
    .contain{
        background-image: none;
    }
    .cont{
        width:100%;
        height: 100%;
        font-size: medium;
    }  
   
}
@media  only screen and (max-width:720px){
    .contain .imd{
        display: none;
    }
    .imee{
        display: none;
    }
    .discord3{
        display: block;
    }
    .icons1{
        display: block;
    }
    
}
.imccc{
    width: 55px;
    height: auto;
    border-radius: 17px;
    margin-top: 10px;
}
.green{
    background-color: green;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-top: 6px;
}
