@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');
*{
    margin: 0;
    padding: 0;
}
.logo-text,.odin-text{
    font-family: "Caesar Dressing", system-ui;
    font-weight: 400;
    font-style: normal;
}
.nav-item:hover{
    border-bottom: 1px solid grey;
}
.get-background{
    background-color: rgb(15,118,110);
    color: white;
}
.menu{
    display: none;
}
@media only screen and (max-width: 1025px){
    .logo-text{
        display: none;
    }
}
@media only screen and (max-width: 770px) {
    .nav-item,.hide{
        display: none;
    }
    .work{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .menu{
        display: block;
    }

}
.bright{
    opacity: 0.3;
    
}
.bright:hover{
    opacity: 1;
}
.first{
    background-color: rgb(249,250,251);
}
.react-img{
    width: 112px;
    height: 100px;
}
.react-text{
    Font-size: 30px;
    Font-weight: 500;
    Line-height: 36px;
    color: rgb(31, 41, 55);
}
.sec-1{
    Font-size: 18px;
    Font-weight: 500;
    Line-height: 28px;
    color: rgb(55, 65, 81);
} 
.sec-2{
    text-align: justify;
    font-size: 16px;
}
.course{
    font-size: 16px;
}
.line{
    font-size: 18px;
    text-decoration: none;
   
}
.introduction{
    border-bottom: 1px solid rgb(179, 176, 176);
   
}
.line:hover{
    text-decoration: underline;
}
.hover:hover{
    background-color: rgb(234, 234, 234);
    border-radius: 10px;
    transition: .5s;
}
.last{
    background-color:rgb(249,250,251);
}
.main{
    background-color: rgb(249,250,251);
}
.submit{
    background-color: rgb(17,94,89);
}
.curriculam{
    text-decoration: none;
    font-size: 16px;
   
}
.bttn-2{
    background-color: white;
    border: 1px groove rgb(209,213,219);
    border-radius: 7px;
    font-size: 16px;
    padding: 12px 24px;
}
.bttn-2:hover{
    border: 4px double rgb(177, 179, 182);
    background-color: rgb(243, 243, 243);
}
.figure{
    width: 30px;
    height: 30px;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}
.hover08 figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover08 figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
ul{
    list-style: none;
}
.last-se{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
@media only screen and (max-width: 1095px){
    .last-se{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2);
        row-gap: 20px;
    }
    .react-1{
        display: none;
    }
}
@media only screen and (max-width: 770px){
    .last-se{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2);
        row-gap: 20px;
    }
}
/* .line{
    border-bottom: 1px groove rgb(224, 224, 224);
} */
.copy
{
    font-size: 12px;
    opacity: 0.7;
    padding: 20px 0px 20px 0px;
}
.last-logo{
    font-family: "Caesar Dressing", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(31,41,55);
}
.second-section{
    width: 55%;
}
.second-section{
    width: 100%;
}
.sec{
    width: 100%;
}
.Introduction-main{

    width: 700px;
}
@media only screen and (max-width: 1000px) and (min-width:300px){
    /* .sec{
        width: 100%;
    } */

}
.first{
    background-color: rgb(243,244,246);
}
.odin{
    opacity: 0.7;
}
.bttn{
    background-color: rgb(15,118,110);
}
.bttn:hover{
    background-color: #1c5e57;
    border: 2px double  #ffffff;
}
.bttn-2{
    background-color: white;
    border: 1px groove rgb(209,213,219);
    border-radius: 7px;
    font-size: 16px;
    padding: 12px 24px;
}
.bttn-2:hover{
    border: 4px double rgb(177, 179, 182);
    background-color: rgb(243, 243, 243);
}
.curriculam{
    text-decoration: none;
    font-size: 16px;
}
.react-1{
    background-color: rgb(249,250,251);
}
.figure{
    width: 30px;
    height: 30px;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}
.hover08 figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover08 figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
